.title {
    text-align: center;
    color: yellow;
    font-size: 20px;
}

.books {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bookButton {
    background-color: green;
    color: yellow;
    padding: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

.book-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.current-book {
    width: 100%;
    height: 700px;
    border-color: yellow;
}

.chapter-selector-book1 {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.chapter-selector-book1.show {
    display: flex;
}
.chapterButton {
    background-color: green;
    color: yellow;
    padding: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

body {
    background-color: blueviolet;
}