.crest {
    display: block;
    margin: 0 auto;

    width: 250px;
    height: auto;
}
.title {
    text-align: center;
    color: rgb(111, 227, 10);
    font-size: 20px;
}

.home-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.home-button {
    background-color: #24152F;
    color: rgb(111, 227, 10);
    padding: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    border-color: rgb(111, 227, 10);
}

.books {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bookButton {
    background-color: #24152F;
    color: rgb(111, 227, 10);
    padding: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    border-color: rgb(111, 227, 10);
}

.book-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.current-book {
    width: 100%;
    height: 700px;
    border-color: rgb(111, 227, 10);
}

/*Book 1*/
.chapter-selector-book1 {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.chapter-selector-book1.show {
    display: flex;
}
/*Book 2*/
.chapter-selector-book2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.chapter-selector-book2.show {
    display: flex;
}
/*Book 3*/
.chapter-selector-book3 {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.chapter-selector-book3.show {
    display: flex;
}
/*Chapter Selector Buttons*/
.chapterButton {
    background-color: #24152F;
    color: rgb(111, 227, 10);
    border-color: rgb(111, 227, 10);
    padding: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

body {
    background-color: #24152F;
}