.chapter-title {
    color: blue;
}

.chapter-1 {
    color: green;
    font-size: 20;
}

.chapter-2 {
    color: green;
    font-size: 20;
}

.lineNumber {
    display: inline;
    color: blue;
    font-size: 15px;
}

body {
    background-color: white;
}