.chapter-title {
    color: rgb(152, 215, 165);
}

.chapter {
    color: rgb(195, 195, 225);
    font-size: 25;
    text-align: center;
}

.lineNumber {
    display: inline;
    color: rgb(152, 215, 165);
    font-size: 15px;
}

.cedarismDefinition {
    color: rgb(195, 195, 225);
    font-size: 38px;
    text-align: center;
}

.character {
    color: rgb(152, 215, 165);
    font-size: 38px;
    text-align: center; 
}
.character-definition {
    color: rgb(195, 195, 225);
    font-size: 30px;
    text-align: center;
}

body {
    background-color: #24152F;
}